*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.page{
    width: 100%;
    height: auto;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
}
#slidehead{
    background-color: rgb(255, 92, 26);
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    color: white;
}
#icon{
    margin-top: 5px;
    height: 20px;
    width: 20px;
}
.banner{
    position: relative;
    background-image: url(img/camera00.jpg);
    height: 750px;
}
.menu{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(113, 224, 255, 0.65);
    border-radius: 50px;
    margin: 20px 40px 0 40px;
    width: 95%;
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 250px;
}
#imglogo{
    width: 50px;
    height: auto;
    border-radius: 50px;
}
.menuitem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 600;
}
.menuitem li{
    list-style-type: none;
    display: inline-block;
    width: 150px;
    height: 60px;
    line-height: 60px;
}
.menuitem a, .menu a{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuitem a:hover{
    color: #ff0066;
    border-bottom: 4px solid #ff0066;
    box-sizing: border-box;
}
.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 60px;
}
.container{
    width: 100%;
    height: 300px;
}
.footer{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 350px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    text-align: start;
    margin-top: 50px;
    width: 90%;
    height: auto
}
.footer-container h3{
    margin-bottom: 30px;
}
.footerlinks li{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
}
.footerlinks a{
    color: white;
}
.footerlinks a:hover{
    color: rgb(0, 255, 247);
    text-decoration: underline;
}
.footerlinks{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 25%;
    height: 200px;
}
.copyright{
    margin-bottom: 15px;
}
#iconfooter{
    margin: 0px 10px 0px 0px ;
    display: inline-block;
    margin-top: auto;
    margin-bottom: -5px;
}